alembic==1.8.1
altair==4.2.0
amqp==5.1.1
anaconda-client==1.11.0
anaconda-navigator==2.3.2
app-logger==0.1.2
appdirs==1.4.4
AppLogger==1.2.0
asgiref==3.5.2
async-generator==1.10
atomicwrites==1.4.0
backports.weakref==1.0.post1
billiard==3.6.4.0
bkcharts==0.2
blinker==1.5
branca==0.5.0
brotlipy==0.7.0
bz2file==0.98
celery==5.1.2
certipy==0.1.3
changefinder==0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clikit==0.6.2
clyent==1.2.2
cmake==3.24.2
cmdstanpy==0.9.5
commonmark==0.9.1
conda==22.11.0
conda-build==3.22.0
conda-repo-cli==1.0.20
conda-verify==3.4.2
constantly==15.1.0
convertdate==2.4.0
crashtest==0.3.1
croniter==1.3.5
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.6.0
datashape==0.5.4
Django==3.2.5
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.13.1
djangorestframework==3.12.4
docopt==0.6.2
ephem==4.1.3
escape==1.1
et-xmlfile==1.1.0
Flask-Cors==3.0.10
folium==0.12.1.post1
fonttools==4.25.0
gevent==21.12.0
gitdb==4.0.9
GitPython==3.1.29
gunicorn==20.1.0
hijri-converter==2.2.4
holidays==0.16
httpstan==4.8.2
imbalanced-learn==0.9.1
imblearn==0.0
inflection==0.5.1
Jinja2==3.1.2
Js2Py==0.71
jsonify==0.5
jupyter-telemetry==0.1.0
jupyterhub==3.0.0
kombu==5.2.4
korean-lunar-calendar==0.3.1
llvmlite==0.38.0
LunarCalendar==0.0.9
Mako==1.2.3
Markdown==3.3.6
marshmallow==3.18.0
mistune==2.0.4
mkl-fft==1.3.1
mkl-service==2.4.0
mljar-mercury==1.1.6
mpmath==1.2.1
munkres==1.1.4
mypy==0.971
mypy-extensions==0.4.3
navigator-updater==0.3.0
nbconvert==7.2.2
oauthlib==3.2.2
openpyxl==3.0.10
pamela==1.0.0
pandas==1.4.4
pastel==0.2.1
patsy==0.5.2
pep8==1.7.1
Pillow==9.2.0
pipwin==0.5.2
ply==3.11
polare==0.1.0
protobuf==3.20.1
pyarrow==10.0.0
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.45.1
pydeck==0.8.0b4
PyDispatcher==2.0.5
pyee==8.2.2
pyjsparser==2.7.1
pylev==1.4.0
pyls-spyder==0.4.0
PyMeeus==0.5.11
Pympler==1.0.1
pyppeteer==1.0.2
PyPrind==2.11.3
PyQt5-sip==12.11.0
pyserial==3.5
pysimdjson==3.2.0
pySmartDL==1.3.4
pystan==3.5.0
pytest==7.1.2
python-dotenv==0.19.2
python-json-logger==0.1.11
python-lsp-jsonrpc==1.0.0
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
queuelib==1.5.0
rich==12.6.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.1.2
scikit-learn-intelex==2021.20221004.171807
semver==2.13.0
setuptools-git==1.2
shap==0.41.0
shortuuid==1.0.9
slicer==0.0.7
smmap==5.0.0
sqlparse==0.4.3
streamlit==1.14.0
TBB==0.2
thonny==3.3.14
tinycss2==1.1.1
tzdata==2022.5
tzlocal==4.2
validators==0.20.0
vine==5.0.0
webargs==8.2.0
webencodings==0.5.1
websockets==10.3
wget==3.2
whitenoise==5.3.0
xgboost==1.5.0
zict==2.1.0
zope.event==4.5.0

